.App {
  text-align: center;
  background-color: #404257;
  background-image: url("background.png");
}

.App-body {
  min-height: 100vh;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.App-header{
  padding-top: 10px;
  padding-left: 10px;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
}

.title{
  width: 20%;
  margin: 0;
}

.searchBar {
  text-align: right;
  width: 75%;
}

.searchTerm {
  width: 30%;
  border: 3px solid #86351E;
  padding: 5px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #86351E;
}
